@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
 --main-color: #a676cf;
 --black-color: #121212;
 --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

/*! base html codes */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}


html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}


body {
    background-color: var(--main-color);
}

section {
    padding: 3.5rem 7%;
}

a {
    color: var(--black-color);
    text-decoration: none;
    
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #a676cf;
    cursor: pointer;
}

.heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
    
}


.search-input {
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

 /*! header başlangıç */
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
    transform: scaleY(0);
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
}

.header .search-form input {
    width: 100%;

}




 .header .logo img {
    height: 10rem;
    width: 15rem;
 }
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button {
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

#BilgiKöşesi-btn{
    display: none;

}
 /*! header bitişi */

 /*! anasayfa başlangıç */
 .Anasayfa {
    min-height: 100vh;
    background: url(../images/Photo.gif)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
 }

 .Anasayfa .content {
    max-width: 60rem;
 }

 .Anasayfa .content h3 {
    font-size: 3rem;
    color: #fff;
 }

 .Anasayfa .content p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eae7e7;
 }
 /*! anasayfa bitişi */

 /*hakkımızda*/




 
  /*! anasayfa başlangıç */
 
 /*! bilgi köşesi başlangıç */
 .BilgiKöşesi .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
 }

 .BilgiKöşesi .box-container .box{
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    background-color: #fff;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
 }

 .BilgiKöşesi .box-container .box img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
 }

 .BilgiKöşesi .box-container .box .menu-category {
    font-size: 2rem;
    text-transform: uppercase;
 }

 .BilgiKöşesi .box-container .box h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
 }

 /*! bilgi köşesi bitişi */


 /*! hakkımızda başlangıç */
.Hakkımızda .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

 .Hakkımızda .row .images {
    flex: 1 1 45rem;
}

.Hakkımızda .row img {
    width: 90%;

    
}

.Hakkımızda .row .content {
    flex: 1 1 45rem;
}

.Hakkımızda .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.Hakkımızda .row .content p{
    font-size: 1.8rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.8;
}
 /*! hakkımızda bitişi */


 /*! görüşler başlangıç */
.Görüşleriniz .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.Görüşleriniz .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
}

.Görüşleriniz .images {
    flex: 1 1 45rem;
}

.Görüşleriniz img {
    width: 5rem;
    height: 5rem;
}

.Görüşleriniz .box p{
    font-size: 1.6rem;
    color: #c1347f;
    padding: 2rem 0;
    line-height: 1.8;
}

.Görüşleriniz .box-container .box .user{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

.Görüşleriniz .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);
}

.Görüşleriniz .box-container .box .stars i{
    font-size: 1.5rem;
    color: gold;
}

 /*! görüşler bitişi */



  /*! iletişim başlangıç */
  .contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

  }

  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }

  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  .contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
  }

  .contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);

  }

  .contact .row form .inputBox i{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
  }

  .contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
  }

  .contact .row form .btn {
    color: var(--main-color); 
    background-color: #fff;
    font-weight: bold;
  }

   /*! iletişim bitişi */

   /*! etkinlikler başlangıç */
   .Etkinlikler .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
   }

   .Etkinlikler .box-container .box {
    background-color: #fff;
    border-radius: 3rem;
   }

   .Etkinlikler .box-container .box .images{
    height: 25rem;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
   }

   .Etkinlikler .box-container .box .images img {
    height: 100%;
    object-fit: cover;
    width: 100%;
   }

   .Etkinlikler .box-container .box:hover .images img {
    transform: scale(1.2);
   }

   .Etkinlikler .box-container .box .content {
    padding: 2rem;
   }


   .Etkinlikler .box-container .box .content .title {
    line-height: 1.5;
    font-size: 2.5rem;
   }

   .Etkinlikler .box-container .box .content span {
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
   }

   .Etkinlikler .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
   }

   /*! etkinlikler bitişi */

   /*! footer başlangıç */
   .footer {
    background-color: var(--black-color);
    text-align: center;
   }

   .footer .search {
    display: flex;
    justify-content: center;

   }

   .footer .search .search-input {
    width: 30rem;

   }

   .footer .search .btn-primary {
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
   }

   .footer .share {
    padding: 2rem 0;
   }

   .footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
   }

   .footer .share a:hover  {
    background-color: var(--main-color);
   }

   .footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
   }

   .footer .links a{
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
   }

   .footer .links a:hover{
    background-color: var(--black-color);
    opacity: 0.7;
   }

   .footer .links a.active {
    background-color: var(--black-color);
   }

   .footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    padding-top: 1.5rem;
   }

   .footer .credit span {
    color: var(--main-color);
   }

   /*! footer bitişi */



   /*!responsive başlangıç*/
   @media (max-width: 991px){
    html{
       font-size: 55%;
    }
   
   .header{
    padding: 1.5rem 2rem;
   }

   .header .logo img{
    height: 7rem;
   }

   section {
    padding: 2rem;
   }

   .Hakkımızda .box-container .box .box-head .name {
    font-size: 3.4rem;
   }

   @media (max-width: 768px) {
    #BilgiKöşesi-btn {
        display: inline-block;
    }
}

    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
    }

    .header .navbar.active{
        right: 3rem;
    }

    .header .navbar a {
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;    
    }

   }

   @media (max-width: 576px) {
    html {
        font-size: 50%;
    }
   }
   
   

   
   /*!responsive bitişi*/


   .btnn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #fff; /* Beyaz arka plan */
    color: #c70edb; /* Buton metni rengi */
    border: 2px solid #fff; /* Beyaz border */
    border-radius: 30px; /* Oval şeklini alması için border-radius */
    text-decoration: none; /* Link görünümünü kaldır */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Dönüşüm efektleri */
}

.btnn:hover {
    background-color: #5555559b; /* Hover durumunda arka plan rengi değiştir */
    color: #fff; /* Hover durumunda metin rengi değiştir */
    border-color: #5555559b; /* Hover durumunda border rengi değiştir */
}





.sabit-gorsel {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Sağ alt köşeye yerleştirme */
    z-index: 999; /* İhtiyaca göre: Görselin diğer elementlerin üzerinde olmasını sağlar */
}

.whatsapp-link {
    display: block;
    width: 100px; /* Görsel genişliği */
    height: 100px; /* Görsel yüksekliği */
    border-radius: 50%;
    overflow: hidden;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.whatsapp-link img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Görsel üzerine gelindiğinde ve tıklandığında boyutunu küçültme ve pozisyonunu güncelleme */
.whatsapp-link:hover {
    width: 80px; /* Küçük bir değer seçin */
    height: 80px; /* Küçük bir değer seçin */
}

.whatsapp-link:active {
    width: 100px; /* İstediğiniz orijinal boyut */
    height: 100px; /* İstediğiniz orijinal boyut */
}



